<script lang="ts">
    import { page } from "$app/stores";

    import ErrorIndicator from "$lib/components/ErrorIndicator.svelte";
    import Header from "$lib/components/Header.svelte";
    import PollForm from "$lib/components/PollForm.svelte";
    import type { SetupData } from "$lib/../../../backend/bindings/SetupData";
    import { fetchData, minMax } from "$lib/helpers/helper.js";

    /** Returns the lowest and highest hour-number that should be used in the calendar. */
    function getStartingEndingHours(
        dates: Date[],
        timeInterval: number
    ): [number, number | undefined] {
        if (timeInterval === 60 * 24) {
            // If timeInterval is DAY, make sure we have enough time-slots when switching
            // to a non-DAY-timeInterval.
            return [0, 24];
        } else {
            const hours = dates.map((date) => date.getHours());
            let [startingHour, endingHour] = minMax(hours);

            // Make sure the last displayed hour is 1 after the actual last hour-value.
            endingHour++;

            return extendHours(startingHour, endingHour);
        }
    }
    /** Returns the starting- & ending-hour-numbers and widens the difference if necessary. */
    function extendHours(
        startingHour: number,
        endingHour: number
    ): [number, number] {
        let startingHourRes = startingHour;
        let endingHourRes = endingHour;
        const difIsSufficient = () => endingHourRes - startingHourRes >= 5;

        if (difIsSufficient()) {
            return [startingHourRes, endingHourRes];
        }

        // If there still is too little difference between starting- & ending-hour...
        while (!difIsSufficient()) {
            // Push ending-hour further back
            if (endingHourRes < 24) {
                endingHourRes++;
                if (difIsSufficient()) {
                    return [startingHourRes, endingHourRes];
                }
            }
            // Make starting-hour occurr earlier.
            if (startingHourRes > 0) {
                startingHourRes--;
                // difIsSufficient()-check is unnecessary due to while-loop-condition.
            }
        }

        return [startingHourRes, endingHourRes];
    }

    const pathParts = $page.url.pathname.split("/");
    const pollId = pathParts[pathParts.length - 3];
    const adminId = pathParts[pathParts.length - 1];

    const adminPanelLink = `/${pollId}/links/${adminId}`;

    const actionBtnName = "Update event";
    const successMessage = "Updated Event";
    const setupDataPromise: Promise<SetupData> = fetchData(
        `/${pollId}/setup-data/${adminId}`
    );

    let setupData = <SetupData>{
        title: "",
        instruction: "",
        datetimeInterval: 60,
        offeredDatetimes: [],
        theme: "Default",
    };

    setupDataPromise
        .then((sd) => (setupData = sd))
        .catch((e) => console.error(e));
</script>

<svelte:head>
    <title
        >Edit Event{setupData.title ? `: ${setupData.title}` : ""} | VoteOn.Date</title
    >
    <meta
        name="description"
        content="Edit an event, changing what voters can see and what time-slots they may vote on."
    />
</svelte:head>

{#await setupDataPromise}
    <Header
        subtitle="..."
        backURL={adminPanelLink}
        backText="Admin Panel"
        useBrowserNavigation={true}
    >
        Edit Event
    </Header>
    <PollForm {actionBtnName} requestMethod="" {successMessage} {setupData} />
{:then _setupData}
    {@const offeredDatetimes = setupData.offeredDatetimes.map(
        (dateStr) => new Date(dateStr)
    )}
    {@const firstDate = new Date(
        offeredDatetimes.map((date) => date.valueOf()).sort()[0]
    )}
    {@const [startingHour, endingHour] = getStartingEndingHours(
        offeredDatetimes,
        setupData.datetimeInterval
    )}
    <Header
        subtitle={setupData.title}
        backURL={adminPanelLink}
        backText="Admin Panel"
        useBrowserNavigation={true}
    >
        Edit Event
    </Header>
    <PollForm
        {actionBtnName}
        requestMethod="PATCH"
        {successMessage}
        bind:setupData
        {firstDate}
        {startingHour}
        {endingHour}
    />
{:catch error}
    <Header
        subtitle="Event could not be loaded"
        backURL={adminPanelLink}
        backText="Admin Panel"
        useBrowserNavigation={true}
    >
        Edit Event
    </Header>
    <ErrorIndicator {error} />
{/await}
