<script lang="ts">
    import { page } from "$app/stores";

    import ErrorIndicator from "$lib/components/ErrorIndicator.svelte";
    import Header from "$lib/components/Header.svelte";
    import VoteForm from "$lib/components/VoteForm.svelte";
    import type { Poll } from "$lib/../../../backend/bindings/Poll";
    import type { BareUserVote } from "$lib/../../../backend/bindings/BareUserVote";
    import { fetchData } from "$lib/helpers/helper.js";

    const pathParts = $page.url.pathname.split("/");
    const pollId = pathParts[pathParts.length - 1];

    const emptyPoll = <Poll>{
        pollId: "",
        title: "...",
        instruction: "",
        datetimeInterval: 60,
        offeredDatetimes: [new Date().toISOString()],
        theme: "Default",
    };
    const emptyVote = <BareUserVote>{
        name: "",
        comment: null,
        availability: [],
        adminEdited: false,
    };

    const realPoll: Promise<Poll> = fetchData(`/${pollId}/poll-data`);

    let pageTitle = "Vote";
    realPoll
        .then((poll) => (pageTitle += ` on: ${poll.title}`))
        .catch((e) => console.error(e));

    const actionBtnName = "Add vote";
    const successMessage = "Added Vote";
</script>

<svelte:head>
    <title>{pageTitle} | VoteOn.Date</title>
    <meta
        name="description"
        content="Add your vote! When should this meetup be conducted? 1. Select time slots that fit your schedule. 2. Enter your name. 3. Done."
    />
</svelte:head>

{#await realPoll}
    <Header subtitle={emptyPoll.title} useBrowserNavigation={true}
        >Vote on:</Header
    >
    <VoteForm
        {actionBtnName}
        requestMethod=""
        {successMessage}
        poll={emptyPoll}
        vote={emptyVote}
    />
{:then poll}
    <Header subtitle={poll.title} useBrowserNavigation={true}>Vote on:</Header>
    <VoteForm
        {actionBtnName}
        requestMethod="POST"
        {successMessage}
        {poll}
        vote={emptyVote}
    />
{:catch error}
    <Header subtitle="Event could not be loaded" useBrowserNavigation={true}
        >Vote on:</Header
    >
    <ErrorIndicator {error} />
{/await}
