@use "variables" as v;
@use "sizes" as s;

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;

    @media (max-width: s.$md) {
        font-size: 15px;
    }
}

body {
    color: var(--onCanvas);
    font-family: Arial, Helvetica, sans-serif;

    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    -webkit-hyphens: auto;

    :focus-visible,
    &:-moz-focusring {
        outline: 0.2rem solid var(--selected);
    }
    ::selection {
        background-color: var(--selected);
        color: var(--selectedFont);
    }
}

#body-bg {
    height: 100vh;
    width: 100vw;
    position: fixed;

    background-color: var(--canvas);
    background-image: var(--backgroundImage);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#body-content {
    position: relative;
    min-height: 100vh;
    padding-top: v.$content-spacing;

    // Spacing between content and footer
    padding-bottom: v.$pc-footer-height;
    @media (max-width: s.$sm) {
        padding-bottom: v.$phone-footer-height;
    }
}

main {
    padding: env(safe-area-inset-top) env(safe-area-inset-right)
        env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.background {
    width: v.$content-width;
    max-width: v.$max-content-width;
    min-width: min-content;

    background: var(--background);
    backdrop-filter: var(--backdrop-filter);
    -webkit-backdrop-filter: var(--backdrop-filter);
    color: var(--backgroundFont);

    padding: clamp(1rem, 3%, 4rem);
    border-radius: max(1.8vw, 1rem);
    margin: 0 auto v.$content-spacing;
}

h1 {
    font-size: 5rem;
    font-weight: 800;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;

    @media (max-width: s.$md) {
        font-size: 4rem;
    }
}
h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
h3 {
    font-size: 1.3rem;
    margin-top: 0.5rem;
}

p,
a,
li,
th,
td,
label:not(.button-like) {
    text-align: justify;
    font-size: 1.2rem;
}
ol,
ul {
    margin-left: -1.1rem;
    list-style-position: outside;
    li {
        margin-bottom: 0.2rem;
    }
}

a:not(.button-like) {
    color: var(--backgroundFont);

    &:visited {
        color: var(--onBackground);
    }
    &:active {
        color: var(--selected);
    }
}

div.input-parent {
    $border-radius: 0.3rem;

    margin-bottom: 1rem;
    &:nth-last-child(1) {
        margin-bottom: 0;
    }

    input,
    select,
    textarea {
        font-family: inherit;
        font-size: 1rem;
        width: 100%;

        padding: 0.5rem 0.8rem;
        margin-top: v.$input-top-margin;

        background-color: var(--background);
        backdrop-filter: var(--backdrop-filter);
        -webkit-backdrop-filter: var(--backdrop-filter);
        color: var(--backgroundFont);

        border-radius: $border-radius;
        border: 0;
        border-bottom: 0.2rem solid var(--onBackground);

        &[aria-invalid="true"] {
            border: 2px solid var(--error);
            border-bottom-left-radius: 0;
        }
    }
    textarea {
        resize: vertical;
        min-height: 2rem;
        max-height: 10rem;
    }

    span[data-felte-reporter-dom-single-message] {
        font-size: 1rem;
        padding: 0 0.5rem 0.2rem;

        background-color: var(--error);
        color: var(--errorFont);

        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }
}

button {
    // The default styling is the one used on top of a background.
    // When using buttons on the canvas, use a special class (see below).
    background-color: var(--onBackground);
    backdrop-filter: var(--backdrop-filter);
    -webkit-backdrop-filter: var(--backdrop-filter);
    color: var(--onBackgroundFont);

    display: flex;
    place-items: center;
    place-content: center;

    font-size: 1rem;
    font-family: inherit;
    text-decoration: none;
    white-space: nowrap;

    min-width: 6rem;
    min-height: 2.2rem;
    padding: 0 1rem;
    border: none;
    border-radius: 0.3rem;

    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;

    transition: v.$trans;

    &:hover,
    &:focus-visible,
    &:-moz-focusring {
        transform: v.$scale;
        box-shadow: 0 0.2rem 0.5rem var(--shadow);
    }

    &.canvas {
        background-color: var(--background);
        color: var(--backgroundFont);
    }
    &.canvas-primary {
        background-color: var(--onCanvas);
        color: var(--onCanvasFont);
    }
}

.button-like {
    @extend button;
}

hr {
    margin: 1rem 0;
    height: 2px;
    background-color: var(--onBackground);
    border: none;
}
