<script lang="ts">
    import { browser } from "$app/environment";
    if (browser) {
        const canvasVal = getComputedStyle(document.body).getPropertyValue(
            "--canvas"
        );
        document
            ?.querySelector('meta[name="theme-color"]')
            ?.setAttribute("content", canvasVal);
    }
</script>

<svelte:head>
    <meta name="robots" content="noindex" />
</svelte:head>

<slot />
