<script lang="ts">
    import CardLink from "$lib/components/CardLink.svelte";
    import Header from "$lib/components/Header.svelte";
</script>

<svelte:head>
    <title>VoteOn.Date – Free and private meetup scheduling</title>
    <meta
        name="description"
        content="Quickly and easily coordinate meetups. Anonymous & no login required. Name your event, select time slots, and invite participants."
    />
</svelte:head>

<Header
    subtitle="Quickly and easily coordinate meetups"
    useBrowserNavigation={false}
>
    Vote<wbr />On<wbr />.Date
</Header>
<section class="background">
    <h2>Guide:</h2>
    <ol>
        <li>Create a new event: Set a name and select the times you propose</li>
        <li>Invite participants to let them vote</li>
        <li>
            Visit the results-page and see what times were <strong>vote</strong
            >d <strong>on</strong>
        </li>
    </ol>
    <br />
    <p>All necessary links will be provided as we follow the workflow.</p>
</section>

<div id="add-parent-div">
    <CardLink icon="add" link="/create" useBrowserNavigation={false}
        >Create Event</CardLink
    >
</div>

<style lang="scss">
    #add-parent-div {
        width: -moz-fit-content;
        width: fit-content;
        max-width: 90%;
        margin: 0 auto;
    }
</style>
