<script lang="ts">
    import Header from "$lib/components/Header.svelte";
    import PollForm from "$lib/components/PollForm.svelte";
    import type { SetupData } from "$lib/../../../backend/bindings/SetupData";

    let setupData = <SetupData>{
        title: "",
        instruction:
            "These are the proposed time slots for the event. Select all those that fit your schedule.",
        datetimeInterval: 60,
        offeredDatetimes: [],
        theme: "Default",
    };
</script>

<svelte:head>
    <title>
        Create New Event{setupData.title ? `: ${setupData.title}` : ""} | VoteOn.Date
    </title>
    <meta
        name="description"
        content="Create a new event to determine when to schedule your meetup. 1. Select a name. 2. Choose time slots. 3. Done."
    />
</svelte:head>

<Header subtitle={setupData.title} useBrowserNavigation={true}
    >Create Event</Header
>
<PollForm
    actionBtnName="Create event"
    requestMethod="POST"
    successMessage="Created Event"
    bind:setupData
/>
