<script lang="ts">
    export let icon: string;
    export let link: string;
    /**
     * On sipmle pages like `index.html`, set to **false**.
     *
     * Set this to **true** when this component is used on a page
     * that has a dynamic URL.
     * (For example: `hs9eTe/results/GE27qmx`)
     */
    export let useBrowserNavigation: boolean;
</script>

<a href={link} data-sveltekit-reload={useBrowserNavigation ? "" : "off"}>
    <div class="icon-div">
        <i class="fa-solid fa-{icon} fa-2x" />
    </div>
    <div class="button-div canvas button-like" tabindex="-1">
        <slot />
    </div>
</a>

<style lang="scss">
    @use "../../style/variables" as v;
    @import url(../../../static/icons/css/all);

    a {
        $btn-height: 3rem;

        background-image: url("/pocket-g76d894c45_1920.jpg");
        background-color: var(--background);
        background-size: cover;

        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        transition: v.$trans;

        &:hover,
        &:focus-visible,
        &:-moz-focusring {
            transform: v.$scale;
            box-shadow: 0 0.5rem 1rem var(--shadow);
        }

        border-radius: 1rem;
        width: 20rem;
        max-width: 100%;
        min-height: 12.5rem;
        margin-bottom: v.$content-spacing;

        text-decoration: none;
        cursor: pointer;

        .icon-div {
            // Make the div take up all remaining space
            position: absolute;
            top: calc(50% - $btn-height / 2);
            transform: translateY(-50%);

            i {
                padding: 0.2rem 0.35rem;
                border-radius: 0.5rem;

                background-color: var(--background);
                color: var(--backgroundFont);
            }
        }
        .button-div {
            width: 100%;
            height: $btn-height;
            margin-top: auto;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            font-size: 1.2rem;

            &:hover,
            &:focus-visible,
            &:-moz-focusring {
                transform: none; // Disable button-growth
            }
        }
    }
</style>
