<script lang="ts">
    import { page } from "$app/stores";

    export let displayTooltip: boolean;
    export let arrowPositionPercent = 50;
</script>

<div class="errorTooltipContainer">
    <div class="errorOrigin">
        <slot />
    </div>
    <div
        class="errorTooltip"
        style="visibility: {displayTooltip ? 'visible' : 'hidden'};"
        data-sveltekit-reload
    >
        The request was not successful.<br />
        Please try again, <a href={$page.url.href}>refresh the page</a>, or
        <a href="/about#contact" target="_blank">contact us</a>.
        <div class="errorTooltipArrow" style="left: {arrowPositionPercent}%;" />
    </div>
</div>

<style lang="scss">
    @use "../../style/variables" as v;

    .errorTooltipContainer {
        display: flex;
        justify-content: center;
        position: relative;

        .errorTooltip {
            max-width: min(v.$content-width, v.$max-content-width);
            background-color: var(--error);
            color: var(--errorFont);
            text-align: center;
            padding: 0.4rem 1rem;
            border-radius: 6px;

            /* Position the tooltip text */
            position: absolute;
            z-index: 1;
            bottom: 125%;

            a {
                font-size: inherit;
                color: inherit;
            }

            /* Fade in tooltip */
            transition: v.$trans;
        }
        /* Tooltip arrow */
        .errorTooltipArrow {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -10px;
            border-width: 10px;
            border-style: solid;
            border-color: var(--error) transparent transparent transparent;
        }
    }
</style>
