<script lang="ts">
    export let showBadge: boolean;
    export let text: string;
    export let onClose: () => any;
</script>

{#if showBadge}
    <section class="background">
        <p>
            <i class="fa-solid fa-circle-info fa-bounce" />
            {text}
        </p>

        <!-- svelte-ignore a11y-positive-tabindex -->
        <button
            id="close-button"
            type="button"
            tabindex="1"
            on:click={() => {
                showBadge = false;
                onClose();
            }}
        >
            <i class="fa-solid fa-xmark" /> Close
        </button>
    </section>
{/if}

<style lang="scss">
    @import url(../../../static/icons/css/all);

    .background {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-top: clamp(1rem, 3%, 2.5rem);
        padding-bottom: clamp(1rem, 3%, 2.5rem);

        #close-button {
            margin-left: 0.5rem;
            i {
                margin-right: 0.5rem;
            }
        }
    }
</style>
