<script lang="ts">
    import { onMount } from "svelte";
    import { copyTextToClipboard } from "$lib/helpers/helper.js";

    export let labelText: string;
    export let title: string;
    export let link: string;

    function copy() {
        const input = <HTMLInputElement>document.getElementById(link);
        input.select();

        copyTextToClipboard(link);
        indicateCopied = true;
    }
    async function share() {
        try {
            await navigator.share(shareData);
        } catch (err) {
            console.error(err);
        }
    }
    onMount(() => {
        // Delay check for sharing-ability due to navigator not being available when running `npm run build`.
        canShare =
            navigator.share !== undefined && navigator.canShare(shareData);
    });

    const shareData = {
        title: title,
        url: link,
    };
    let canShare = true;
    let indicateCopied = false;
</script>

<svelte:window
    on:mousedown={() => {
        indicateCopied = false;
    }}
/>

<div class="input-parent">
    <label for={link}>
        {labelText}
    </label>
    <div class="content-container">
        <input
            id={link}
            type="text"
            value={link}
            readonly={true}
            on:focus={(e) => e.currentTarget.select()}
        />
        <div class="link-actions">
            {#if canShare}
                <button class="share" on:click={share}>
                    <i class="fa-solid fa-share" /> Share
                </button>
            {:else}
                <a
                    href="mailto:?subject={encodeURIComponent(
                        title
                    )}&body={encodeURIComponent(link)}"
                    class="button-like share"
                >
                    <i class="fa-solid fa-envelope" /> Mail
                </a>
            {/if}
            <button class="copy" on:click={copy}>
                <i class="fa-solid fa-copy" />
                {indicateCopied ? "Copied" : "Copy"}
            </button>
        </div>
    </div>
</div>

<style lang="scss">
    @use "../../style/variables" as v;
    @use "../../style/sizes" as s;
    @import url(../../../static/icons/css/all);

    .input-parent {
        .content-container {
            display: flex;
            gap: 0.5rem;

            @media (max-width: s.$sm) {
                flex-wrap: wrap;
                .link-actions {
                    width: 100%;
                }
            }

            input {
                width: 100%;
                text-overflow: ellipsis;
            }

            .link-actions {
                margin-top: v.$input-top-margin;
                display: flex;
                gap: 0.5rem;

                button,
                a {
                    width: 100%;
                    i {
                        margin-right: 0.5rem;
                    }
                }
                .copy {
                    cursor: copy;
                }
            }
        }
    }
</style>
