<script lang="ts">
    // Extern imports
    import { addDays, addYears, format, parse, subDays } from "date-fns";
    import { createForm } from "felte";
    import { validator } from "@felte/validator-yup";
    import * as yup from "yup";
    import reporterDom from "@felte/reporter-dom";
    import { onMount } from "svelte";
    import { goto } from "$app/navigation";
    import { page } from "$app/stores";
    // Internal imports
    import SelectionCalendar from "$lib/components/SelectionCalendar.svelte";
    import {
        range,
        addZero,
        combineDayHourMinute,
        saveDialogText,
    } from "$lib/helpers/helper.js";
    import {
        getDayRange,
        getHourRange,
        getMinuteRange,
    } from "$lib/helpers/cal_helper.js";
    import type { SetupData } from "$lib/../../../backend/bindings/SetupData.js";
    import ErrorTooltip from "./ErrorTooltip.svelte";

    export let actionBtnName: string;
    export let requestMethod: string;
    export let successMessage: string;

    export let setupData: SetupData;
    // export let adminEmail: string | null = null;

    const timeIntervals = [15, 30, 60, 60 * 24];
    /**
     * Interval between the shown date-times, in minutes.
     * If the interval is 60*24 (= 1 day), skip rendering date-time hours on the Calendar.
     */
    let timeInterval = setupData.datetimeInterval;
    let prevTimeInterval = timeInterval;

    let choosableDatetimeVals: Set<number> = new Set();
    let chosenDatetimeVals: Set<number> = new Set(
        setupData.offeredDatetimes.map((str) => new Date(str).valueOf())
    );

    const now = new Date();
    const oneYearFromNow = addYears(now, 1);
    const HtmlFormatStr = "yyyy-MM-dd";
    /* const initialDeadlineStr = format(oneYearFromNow, HtmlFormatStr);
    /** Time when no more votes will be allowed. * /
    export let deadline = initialDeadlineStr;
    deadline = format(deadline, HtmlFormatStr)); */

    const themes: [string, string[]][] = [
        ["", ["Default"]],
        ["Seasons", ["Spring", "Summer", "Autumn", "Winter"]],
        [
            "Other",
            [
                "Candyland",
                "Coding",
                "Fire / Ignis",
                "Halloween",
                "Octopus",
            ].sort(),
        ],
    ];
    const flatThemes: string[] = themes.reduce((accThemes, [_, themesList]) => {
        accThemes.push(...themesList);
        return accThemes;
    }, <string[]>[]);
    let theme = setupData.theme;

    $: updateTheming(theme);
    let documentExists = false;
    onMount(() => (documentExists = true));
    function updateTheming(theme: string) {
        if (documentExists) {
            document.body.setAttribute("data-theme", theme);
            const canvasVal = getComputedStyle(document.body).getPropertyValue(
                "--canvas"
            );
            document.head
                .querySelector('meta[name="theme-color"]')
                ?.setAttribute("content", canvasVal);
        }
    }

    let hideAdditionalOpions = true;
    let originalInstructions = setupData.instruction;

    const maxDays = 28;
    const latestAllowedFirstDate = subDays(oneYearFromNow, maxDays + 7);

    /** The first date shown in the calendar. */
    export let firstDate = new Date(now);
    while (firstDate > latestAllowedFirstDate) {
        // Necessary if `firstDate` is too close to `latestAllowedFirstDate`.
        firstDate = subDays(firstDate, 1);
    }
    const initialFirstDateStr = format(firstDate, HtmlFormatStr);
    let firstDateStr = initialFirstDateStr;
    $: firstDate = parse(firstDateStr, HtmlFormatStr, firstDate);

    export let startingHour = 7;
    export let endingHour = 22;

    let displayErrorTooltip = false;

    // Schema used by "felte" to validate the form and to infer the form's fields.
    const titleMaxLength = 50;
    const instructionMaxLength = 200;
    const schema = yup.object({
        /* adminEmail: yup
            .string()
            .trim()
            .nullable()
            .email("Input a correct email or leave this field empty."), */
        title: yup
            .string()
            .trim()
            .required("Input an event-name.")
            .max(titleMaxLength),
        instruction: yup
            .string()
            .trim()
            .required("Leave a message for your participants.")
            .max(instructionMaxLength),
        datetimeInterval: yup
            .number()
            .required()
            .integer()
            .oneOf(
                timeIntervals,
                "Not found in list of allowed `datetimeInterval`s"
            ),
        offeredDatetimes: yup
            .array()
            .of(yup.date().required().max(oneYearFromNow))
            .required()
            .min(2, "Select at least ${min} time-slots.")
            .max(
                200,
                "For a better voter-experience, select less than than ${max} time-slots."
            ),
        /* deadline: yup
            .date()
            .required()
            .max(
                oneYearFromNow,
                "Deadline is too far into the future (more than one year)."
            )
            .transform((curr) =>
                curr === "" ? null : new Date(initialDeadlineStr)
            ), */
        theme: yup
            .string()
            .required()
            .oneOf(
                flatThemes,
                "Theme was not found in list of predefined themes."
            ),
    });

    const { form, data, errors } = createForm<yup.InferType<typeof schema>>({
        extend: [
            validator({ schema, castValues: true }),
            reporterDom({ single: true }),
        ],
        onSubmit: (values) => {
            if (requestMethod) {
                // console.info("values sent into onSubmit: " + values);
                /* // Make sure the the server doesn't try to validate an empty string as an email.
            if (values.adminEmail?.trim() === "") {
                values.adminEmail = null;
            } */

                // Send a request to the backend
                return fetch($page.url.pathname, {
                    method: requestMethod,
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(values),
                });
            }
        },
        onSuccess: async (response) => {
            // Do something with the returned value from `onSubmit`.
            console.info("SUCCESS RESPONSE");
            const linkToGoTo = await (<Response>response).text();

            if (linkToGoTo.length > 50) {
                displayErrorTooltip = true;
                console.error("Bad link:", linkToGoTo);
                return;
            }

            const linkSegments = linkToGoTo.split("/");
            const pollId = linkSegments[linkSegments.length - 3];
            saveDialogText(pollId, successMessage);

            goto(linkToGoTo);
            console.info("SUCCESS RESPONSE END");
        },
        onError(err) {
            // Do something with the error thrown from `onSubmit`.
            displayErrorTooltip = true;
            console.error("ERROR RESPONSE");
            console.error($data);
            console.error(err);
            console.error("ERROR RESPONSE END");
        },
    });

    $: {
        console.info("entered select-choosableDatetimes");

        const year = firstDate.getFullYear();
        const month = firstDate.getMonth();
        const day = firstDate.getDate();

        const dateRange = getDayRange(
            new Date(year, month, day),
            new Date(year, month, day + maxDays)
        );
        // Add days until we arrive on sunday
        while (dateRange[dateRange.length - 1].getDay() !== 0) {
            const lastDay = dateRange[dateRange.length - 1];
            const followingDay = addDays(lastDay, 1);
            dateRange.push(followingDay);
        }
        const hours = getHourRange(startingHour, endingHour, timeInterval);
        const minutes = getMinuteRange(timeInterval);

        const newChoosable: Set<number> = new Set();
        dateRange.forEach((date: Date) => {
            hours.forEach((hour: number) => {
                minutes.forEach((minute: number) =>
                    newChoosable.add(
                        combineDayHourMinute(date, hour, minute).valueOf()
                    )
                );
            });
        });
        choosableDatetimeVals = newChoosable;

        if (prevTimeInterval !== timeInterval) {
            console.info("Timeinterval changed -> adapted `chosenDatetimes`");
            adaptChosenDatetimes();
            prevTimeInterval = timeInterval;
        }
    }

    $: cutoffChecher(startingHour, endingHour, firstDate);

    $: {
        console.info("Synced `$data.offeredDatetimes` with `chosenDatetimes`");
        $data.offeredDatetimes = <(Date & { key: string })[]>(
            Array.from(chosenDatetimeVals, (val) => new Date(val))
        );
    }

    /**
     * Changes the selected `Date`s according to what time-interval has been selected.
     * - If the new interval is **smaller** than the old one, select all slots that fit into the old, larger timeslots.
     * - If the new interval is **larger** than the old one, select those slots that could encapsulate the old timeslots.
     */
    function adaptChosenDatetimes() {
        if (timeInterval < prevTimeInterval) {
            const newChosen: Set<number> = new Set();

            for (const oldChosenStart of chosenDatetimeVals) {
                const oldChosenEnd =
                    oldChosenStart + prevTimeInterval * 60 * 1000;

                for (const newChoosable of choosableDatetimeVals) {
                    if (
                        newChoosable >= oldChosenStart &&
                        newChoosable < oldChosenEnd
                    ) {
                        newChosen.add(newChoosable);
                    }
                }
            }
            chosenDatetimeVals = newChosen;
        } else if (timeInterval > prevTimeInterval) {
            const newChosenVals: Set<number> = new Set();
            for (const oldChosen of chosenDatetimeVals) {
                for (const newChoosableStart of choosableDatetimeVals) {
                    const newChoosableEnd =
                        newChoosableStart + timeInterval * 60 * 1000;

                    const isInNewChosenVals =
                        newChosenVals.has(newChoosableStart);
                    if (
                        newChoosableStart <= oldChosen &&
                        newChoosableEnd > oldChosen &&
                        !isInNewChosenVals
                    ) {
                        newChosenVals.add(newChoosableStart);
                        break;
                    }
                }
            }
            chosenDatetimeVals = newChosenVals;
        }
    }

    /** Removes the chosen datetimes that will get cut off by moving starting-/ending-hour. */
    function cutoffChecher(
        startingHour: number,
        endingHour: number,
        firstDate: Date
    ) {
        console.info("entered cutoff-listener");
        const toKeep: Set<number> = new Set();
        chosenDatetimeVals.forEach((offeredDatetime) => {
            const hour = new Date(offeredDatetime).getHours();

            if (
                hour >= startingHour &&
                hour < endingHour &&
                offeredDatetime >= firstDate.valueOf()
            ) {
                toKeep.add(offeredDatetime);
            }
        });
        chosenDatetimeVals = toKeep;
    }
</script>

<!-- svelte-ignore a11y-positive-tabindex -->
<form use:form on:submit|preventDefault>
    <section class="background">
        <div class="input-parent">
            <label for="title">
                Event name
                <abbr title="Required field">*</abbr>
            </label>
            <input
                id="title"
                type="text"
                name="title"
                bind:value={setupData.title}
                tabindex="1"
                required
                maxLength={titleMaxLength}
                aria-describedby="title-validation"
                aria-invalid={!!$errors.title}
            />
            <div
                id="title-validation"
                data-felte-reporter-dom-for="title"
                aria-live="polite"
            />
        </div>
        <div class="input-parent">
            <label for="theme">Theme</label>
            <select
                id="theme"
                name="theme"
                tabindex="1"
                required
                bind:value={theme}
            >
                {#each themes as [themeGroup, themeNames]}
                    {#if !themeGroup}
                        <!-- This only gets triggered for the "Default"-theme, where there is no themeGroup. -->
                        <option value={themeNames[0]}>
                            {themeNames[0]}
                        </option>
                    {:else}
                        <optgroup label={themeGroup}>
                            {#each themeNames as themeName}
                                <option value={themeName}>
                                    {themeName}
                                </option>
                            {/each}
                        </optgroup>
                    {/if}
                {/each}
            </select>
        </div>
    </section>

    <!-- Prettify the errors and display them in HTML -->
    <!-- <pre>
{JSON.stringify($errors, null, 2)}
    </pre> -->

    <!-- <p style="color: green">chosenDatetimes: {chosenDatetimes}</p>
    <p style="color: blue">
        $data.offeredDatetimes: {$data.offeredDatetimes}
    </p> -->

    <SelectionCalendar
        formName="offeredDatetimes"
        {choosableDatetimeVals}
        bind:chosenDatetimeVals
        {timeInterval}
    >
        <div id="time-intervals">
            {#each timeIntervals as interval}
                {@const iStr = `${interval} min`}
                <label
                    for="interval-{iStr}"
                    class="button-like {interval === timeInterval
                        ? 'checked'
                        : ''}"
                    tabindex="1"
                    on:keydown={(e) => {
                        // Avoid scrolling if space was pressed
                        if (e.key === " ") {
                            e.preventDefault();
                        }
                    }}
                    on:keyup={(e) => {
                        if (e.key === " ") {
                            timeInterval = interval;
                        }
                    }}
                >
                    {interval < 24 * 60 ? iStr : "DAY"}
                </label>
                <input
                    id="interval-{iStr}"
                    type="radio"
                    name="datetimeInterval"
                    style="display:none"
                    value={interval}
                    bind:group={timeInterval}
                />
            {/each}
        </div>
    </SelectionCalendar>

    <div style={hideAdditionalOpions ? "display:none;" : ""}>
        <section class="background">
            <h2>Calendar view</h2>
            <div class="input-parent">
                <label for="firstDate">
                    Show days starting from<br />
                </label>
                <input
                    id="firstDate"
                    type="date"
                    name="firstDate"
                    bind:value={firstDateStr}
                    min={format(now, HtmlFormatStr)}
                    max={format(latestAllowedFirstDate, HtmlFormatStr)}
                    on:change={() => {
                        if (firstDateStr === "") {
                            firstDateStr = initialFirstDateStr;
                        } else if (
                            parse(firstDateStr, HtmlFormatStr, firstDate) >
                            latestAllowedFirstDate
                        ) {
                            firstDateStr = format(
                                latestAllowedFirstDate,
                                HtmlFormatStr
                            );
                        }
                    }}
                />
            </div>
            {#if timeInterval < 60 * 24}
                <p id="show-hours-p">Show hours</p>
                <div id="hours-selectors" aria-describedby="show-hours-p">
                    <div class="input-parent">
                        <label for="showHoursFrom">from</label>
                        <select id="showHoursFrom" bind:value={startingHour}>
                            {#each range(0, endingHour - 1) as hour}
                                <option value={hour}>
                                    {addZero(hour)}:00
                                </option>
                            {/each}
                        </select>
                    </div>
                    <div class="input-parent">
                        <label for="showHoursTo">to</label>
                        <select
                            id="showHoursTo"
                            name="showHoursTo"
                            bind:value={endingHour}
                        >
                            {#each range(startingHour + 1, 24) as hour}
                                <option value={hour}>
                                    {addZero(hour)}:00
                                </option>
                            {/each}
                        </select>
                    </div>
                </div>
            {/if}
            <h2 class="mid-text">Poll options</h2>
            <!-- <div class="input-parent">
                <label for="deadline">
                    Deadline<br />
                    <small>
                        After this date, no more votes will be allowed.
                    </small>
                </label>
                <input
                    id="deadline"
                    type="date"
                    name="deadline"
                    bind:value={deadline}
                    min={format(now, HtmlFormatStr)}
                    max={format(oneYearFromNow, HtmlFormatStr)}
                    aria-describedby="deadline-validation"
                    aria-invalid={!!$errors.deadline}
                    on:change={() => {
                        if (deadline === "") {
                            deadline = initialDeadlineStr;
                        }
                    }}
                />
                <div
                    id="deadline-validation"
                    data-felte-reporter-dom-for="deadline"
                    aria-live="polite"
                />
            </div> -->
            <div class="input-parent">
                <label for="instruction">
                    Instructions
                    <abbr title="Required field">*</abbr>
                </label>
                <textarea
                    id="instruction"
                    name="instruction"
                    bind:value={setupData.instruction}
                    required
                    maxLength={instructionMaxLength}
                    aria-describedby="instruction-validation"
                    aria-invalid={!!$errors.instruction}
                />
                <div
                    id="instruction-validation"
                    data-felte-reporter-dom-for="instruction"
                    aria-live="polite"
                />
            </div>
            <!-- <div class="input-parent">
                <label for="adminEmail">Your Email</label>
                <input
                    id="adminEmail"
                    type="email"
                    name="adminEmail"
                    placeholder="None"
                    bind:value={adminEmail}
                    aria-describedby="adminEmail-validation"
                    aria-invalid={!!$errors.adminEmail}
                />
                <div
                    id="adminEmail-validation"
                    data-felte-reporter-dom-for="adminEmail"
                    aria-live="polite"
                />
            </div> -->
        </section>
    </div>

    <ErrorTooltip
        displayTooltip={displayErrorTooltip}
        arrowPositionPercent={77}
    >
        <div id="bottom">
            <button
                type="button"
                class="canvas"
                disabled={setupData.instruction !== originalInstructions}
                on:click={() => (hideAdditionalOpions = !hideAdditionalOpions)}
            >
                {hideAdditionalOpions ? "More options" : "Hide options"}
            </button>
            <button type="submit" class="canvas-primary">{actionBtnName}</button
            >
        </div>
    </ErrorTooltip>
</form>

<style lang="scss">
    @use "../../style/variables" as v;

    #time-intervals {
        margin: 1rem auto;
        padding: 0 0.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem 1rem;

        label.button-like {
            background-color: var(--unselected);
            color: var(--unselectedFont);

            &:hover,
            &:focus-visible,
            &:-moz-focusring {
                transform: v.$scale translateY(-2.5%);
            }
            &.checked {
                background-color: var(--selected);
                color: var(--selectedFont);
                &:hover,
                &:focus-visible,
                &:-moz-focusring {
                    box-shadow: none;
                    transform: none;
                }
            }
        }
    }

    h2.mid-text {
        margin-top: 1rem;
    }

    #hours-selectors {
        display: flex;
        gap: 1rem;

        .input-parent {
            width: 100%;
        }
    }

    #bottom {
        display: flex;
        gap: 1rem;
        margin-bottom: v.$content-spacing;

        :disabled {
            transform: none;
            opacity: 0.5;
            cursor: auto;

            &:hover,
            &:focus-visible,
            &:-moz-focusring {
                box-shadow: none;
            }
        }
    }
</style>
