<script lang="ts">
    import Header from "$lib/components/Header.svelte";
    import { page } from "$app/stores";
</script>

<svelte:head>
    <title>Internal Error | VoteOn.Date</title>
    <meta
        name="description"
        content="The error-page displayed if a server-internal error has occured."
    />
    <meta name="robots" content="noindex" />
</svelte:head>

<Header subtitle="Internal server error" useBrowserNavigation={true}
    >Error</Header
>
<section class="background" data-sveltekit-reload>
    <p>Something went wrong inside the server. Try again in a few minutes!</p>
    <p>
        Should this issue persist, please <a href="/about#contact">contact us</a
        > so we can fix the problem.
    </p>
    <hr />
    <p>
        <a href="/">Go back to the homepage</a> or
        <a href={$page.url.href}>retry</a> in a few minutes.
    </p>
</section>
