<script lang="ts">
    import { page } from "$app/stores";
    import Header from "$lib/components/Header.svelte";
    import LinkField from "$lib/components/LinkField.svelte";
</script>

<svelte:head>
    <title>Not Found | VoteOn.Date</title>
    <meta
        name="description"
        content="The error-page displayed if the desired page was not found."
    />
    <meta name="robots" content="noindex" />
</svelte:head>

<Header subtitle="No matching event / vote" useBrowserNavigation={true}
    >Site not found</Header
>
<section class="background" data-sveltekit-reload>
    <LinkField
        labelText="The current URL:"
        title="Faulty URL"
        link={$page.url.href}
    />
    <p>
        This event or vote does not exist. Could it be that parts of the link
        got lost while copying?
    </p>
    <hr />
    <div id="actions">
        <a class="button-like" href="/">Go to homepage</a>
        <a class="button-like" href="/create">Create new event</a>
    </div>
</section>

<style lang="scss">
    @use "../../style/sizes" as s;

    #actions {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        @media (max-width: s.$sm) {
            a {
                width: 100%;
            }
        }
    }
</style>
