<script lang="ts">
    import Header from "$lib/components/Header.svelte";
</script>

<svelte:head>
    <title>Generic Error | VoteOn.Date</title>
    <meta
        name="description"
        content="The error-page displayed if some unspecified error has occured."
    />
    <meta name="robots" content="noindex" />
</svelte:head>

<Header subtitle="Generic error" useBrowserNavigation={true}>Error</Header>
<section class="background" data-sveltekit-reload>
    <p>Something went wrong. Please try reloading the page.</p>
    <p>
        Should this occur again, please <a href="/about#contact">contact us</a> so
        we can fix this issue.
    </p>
    <hr />
    <div id="actions">
        <a class="button-like" href="/">Go to homepage</a>
        <a class="button-like" href="/create">Create new event</a>
    </div>
</section>

<style lang="scss">
    @use "../../style/sizes" as s;

    #actions {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        @media (max-width: s.$sm) {
            a {
                width: 100%;
            }
        }
    }
</style>
